body {
    background-color:white;
}

#logo {
    height: 70px;
}
a:visited {
  color:white;
}
.rightheader {
    display: flex;
    flex-direction: row;
    position: fixed;
}

form {
    display: flex;
}

.nav-item {
    font-size: medium;
}

.searchbar {
    width: 50%;
    margin-left: 20px;
}

.searchbar img {
    height: 20px;
}

.icons {
    display: flex;
    flex-direction: row;
}

.icon {
    height: 40px;
}

.carousel-inner {  
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;  
}

.container{
    margin-top: 120px;
    margin-bottom: 120px;
}

.firstline { 
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    justify-content: center;
    flex-wrap: wrap;
}

h3 {
    color: white;
    font-family: Arial, Clear Sans Regular;
    font-size: 22px;
}

.item {
    border: solid 2px;
    border-radius: 6px;
    height: 350px;
    margin-left: 20px;
    background-color:rgb(22,245,178);
    text-align: center;   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    flex-wrap: wrap;
    margin-top: 10px;
}

.secondline {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.nouveautes {
    width: 100%;
    text-align: center;
}

footer {
    background-color: #F5225C;
}


.footer {
    display: flex;
    color: white;
    align-items: center;
}

li {
    list-style-type: none;
}

.boutton_panier {
    width: 70%;
    align-self: center;
    background-color: #F5225C;
    color: white;
    border: none;
    border-radius: 6px;
}

.liensbutton {
    text-decoration: none;
    color: white;
}

.social_networks {
    display: flex;
    flex-direction: row;
    position:absolute;
    right: 0px;
    margin-right: 500px;
    text-decoration: none;
}

.social_networks img {
    height: 40px;
}

.fixed-bottom {
    background-color: #F5225C;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  .links {
    text-decoration: none;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

.signin  {
    display: flex;
    flex-direction: column;
    position: absolute; /* postulat de départ */
    top: 40%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 400px;
  }

.signin_form {
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
}

.submit {
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    text-align: center;
    background-color: #16F5B2;
}

.login  {
    display: flex;
    flex-direction: column;
    position: absolute; /* postulat de départ */
    top: 40%; left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
    width: 400px;
  }

.login_form {
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80%;
}

.navbarleft {
    position: absolute;
    position: fixed;
    top: 90px;
    background-color: #16F5B2;
    height: 100%;
    width: 20%;
    padding-top: 20px;
    padding-left: 0px;
 
}

#tableaudebord {
  padding-left: 6px;
}

.customer {
  top: 20%;
  width: 80%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 100px;
  flex-wrap: wrap;
}

.items_customer {
    border: solid;
    height: 20vw;
    width: 30%;
    margin-left: 200px;
}

.infosperso {
    text-align: left;
    padding-left: 20px;
}

.customer_infosperso {
    position: absolute;
    top: 120px;
    margin-left: 400px;
}

.container_search {
    display: flex;
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    justify-content: center;
}

.search1, .search2 {
    display: flex;
    flex-direction: row;
}

select {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    width: 300px;
}

.searchbutton {
    display: flex;
    flex-direction: column;
}

#buttonsearch {
    margin-top: 60px;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border-radius: 4px;
    background-color: #16F5B2;
    border-color: #D917FA;
}

.panier {
    justify-content: center;
}

.tableaupanier {
    border: solid;
    width: 40%;
}

h1 {
    text-align: center;
}

td {
    border: solid;
    text-align: center;
    padding: 10px;
}


.navbarright {
    position: absolute;
    right: 0;
    background-color:#16F5B2;
    height:100%;
    width: 300px;
}

.links {
    color: white;
    text-decoration: none;
}

.buttonheader {
    margin-left: 50px;
    background-color:#16F5B2;
    border: solid 0px;
    border-radius: 6px;
    border-color: black;
    font-size: 20px;
}

.tabcustomer {
    margin-left:auto;
    margin-right:auto;
 }

.infosperso {
    display: flex;
    flex-direction: column;
    height: 100px;
 }

 .modifierinfos {
    display: flex;
    flex-direction: column;
    align-items: center;
 }



a {
    text-decoration: none;
}


.top-nav {
    width: 100%;
}
/* STOP AT THIS*/

@import url(https://fonts.googleapis.com/css?family=Raleway);
h2 {
  vertical-align: center;
  text-align: center;
}

html, body {
  margin: 0;
  height: 100%;
}

* {
  font-family: "Arial";
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #F5225C;
  color: #FFF;
  height: 90px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 900px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 50px;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    z-index: 1;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin-top: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #16F5B2;
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .firstline, .secondline {
    justify-content: center;
  }
  .biglogo {
    display: none;  
  }
  .navbarleft {
      z-index: -1;
      width: 30%;
    }
}